body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;

    /* Ruta de tu GIF o imagen animada */
    background-image: url('fondos/wallpapers-6.jpg'); 

    /* Ajustes para que la imagen cubra toda la pantalla y no se repita */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Hace que el fondo se quede fijo al hacer scroll */
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 es la opacidad (50%) */
}

.banner{
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor de alpha (0.5) para hacer el fondo más claro u oscuro */
    padding: 30px;
    text-align: center;
    color: #0e0f0e;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logo {
  width: 75px;
  height: auto;
  margin-left: 10px;
  padding: -10px;
  display: flex;
  margin-left: auto; 
}
.titulo-banner{
    text-align: center;
    color: #f4efef;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}   
h1 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    text-decoration: none;
}
h1 a {
    text-decoration: none;
    color: inherit;
}
nav {
    max-width: 500px;
    margin: 30px auto;
    background-color: #4d8eac72;
    border: 1px solid #a38cd8;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}
button {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
 font-family: inherit;
 font-size: 13px;
 font-weight: 500;
 text-transform: uppercase;
 letter-spacing: 0.4px;
 color: #7e97b8;
 background-color: #e0e8ef;
 border-style: solid;
 border-width: 2px 2px 2px 2px;
 border-color: rgba(255, 255, 255, 0.333);
 border-radius: 40px 40px 40px 40px;
 padding: 16px 24px 16px 28px;
 transform: translate(0px, 0px) rotate(0deg);
 transition: 0.2s;
 box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
}

button:hover {
 color: #516d91;
 background-color: #E5EDF5;
 box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

button:active {
 box-shadow: none;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.my-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    background-color: #000000;
    transition: 0.3s;
}
.my-button:hover span {
    background-color: transparent;
    color: #ffffff;
}
.menu-principal {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    max-width: 600px;
    padding: 10px 20px;
}
.menu-item {
    margin: 0 15px;
}
a{
    text-decoration: none;
}
.sub-menu {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.sub-menu li a {
    display: block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
}
.sub-menu li a:hover {
    background-color: #e0e0e0;
}
.menu-item.activo .sub-menu {
    display: block;
}
   

.seccion-auditoria {
    max-width: 950px;
    width: 10%;
    margin: 50px auto;
    padding:  30px;    
}
.titulo-pantalla{
    text-align: center;
    color: rgb(150, 161, 223);
    margin-bottom: 10px;
}
.contenedor-opciones {
    text-align: center;
    display: flex;
    gap: 25px;
}
.tarjeta-paso{
    text-align: center;
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, border-color 0.03s ease;
}
.tarjeta-paso:hover {
    text-align: center;
    transform: translateY(-5px);
    border-color:#333;
    cursor: pointer;
}
.tarjeta-paso h3{
    text-align: center;
    color:#333;
    margin-top: 0;
}
.tarjeta-paso p{
    text-align: center;
color:  #333;
line-height: 1.5;
}
.boton {
  background-color: #007bff; /* Color de fondo */
  color: white;              /* Color del texto */
  padding: 10px 20px;        /* Espaciado interno */
  text-decoration: none;     /* Quita el subrayado del enlace */
  border-radius: 5px;        /* Bordes redondeados */
  display: inline-block;     /* Para que respete el padding y margin */
}

.boton:hover {
  background-color: #0056b3; /* Color cuando pasas el ratón por encima */
}