body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;

    /* Ruta de tu GIF o imagen animada */
    background-image: url('/home/miigess/Markus_auditor_pro-1/fondos/wallpapers-1.jpg'); 

    /* Ajustes para que la imagen cubra toda la pantalla y no se repita */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Hace que el fondo se quede fijo al hacer scroll */
}


h1 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    text-decoration: none;
}
h1 a {
    text-decoration: none;
    color: inherit;
}
nav {
    max-width: 800px;
    margin: 30px auto;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}
.menu-principal {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu-item {
    margin: 0 15px;
}
.sub-menu {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.sub-menu li a {
    display: block;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
}
.sub-menu li a:hover {
    background-color: #e0e0e0;
}
.menu-item.activo .sub-menu {
    display: block;
}
   

.seccion-auditoria {
    max-width: 950px;
    width: 10%;
    margin: 50px auto;
    padding:  30px;    
}
.titulo-pantalla{
    text-align: center;
    color: rgb(150, 161, 223);
    margin-bottom: 10px;
}
.contenedor-opciones {
    text-align: center;
    display: flex;
    gap: 25px;
}
.tarjeta-paso{
    text-align: center;
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, border-color 0.03s ease;
}
.tarjeta-paso:hover {
    text-align: center;
    transform: translateY(-5px);
    border-color:#333;
    cursor: pointer;
}
.tarjeta-paso h3{
    text-align: center;
    color:#333;
    margin-top: 0;
}
.tarjeta-paso p{
    text-align: center;
color:  #333;
line-height: 1.5;
}
.boton {
  background-color: #007bff; /* Color de fondo */
  color: white;              /* Color del texto */
  padding: 10px 20px;        /* Espaciado interno */
  text-decoration: none;     /* Quita el subrayado del enlace */
  border-radius: 5px;        /* Bordes redondeados */
  display: inline-block;     /* Para que respete el padding y margin */
}

.boton:hover {
  background-color: #0056b3; /* Color cuando pasas el ratón por encima */
}